[id^="mai-popup-"] {
	display: none;
}

.mai-popup {
	position: fixed;
	z-index: 100000;
	opacity: 0.01;
	transition: opacity 0.4s ease;
	will-change: opacity;
}

.mai-popup[data-width="full"] {
	--mai-popup-margin: 0;
	--mai-popup-border-radius: 0;
}

.mai-popup[data-horizontal="center"][data-vertical="center"] {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* only add overlay on centered popups. */
.mai-popup[data-horizontal="center"][data-vertical="center"]::before {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	content: "";
}

.mai-popup[data-horizontal="start"] {
	left: 0;
}

.mai-popup[data-horizontal="center"] {
	right: 0;
	left: 0;
}

.mai-popup[data-horizontal="end"] {
	right: 0;
}

.mai-popup[data-vertical="start"] {
	top: 0;
}

.mai-popup[data-vertical="center"] {
	top: 0;
	bottom: 0;
}

.mai-popup[data-vertical="end"] {
	bottom: 0;
}

.mai-popup[data-horizontal="start"][data-vertical="start"]:not([data-width]),
.mai-popup[data-horizontal="start"][data-vertical="end"]:not([data-width]),
.mai-popup[data-horizontal="end"][data-vertical="start"]:not([data-width]),
.mai-popup[data-horizontal="end"][data-vertical="end"]:not([data-width]) {
	--mai-popup-max-width: 400px;
}

.mai-popup[data-horizontal="center"][data-vertical="center"]:not([data-width]) {
	--mai-popup-max-width: 600px;
}

.mai-popup[data-animate="up"] {
	--mai-popup-transform-hidden: translateY(50%);
	--mai-popup-transform-visible: translateY(0);
}

.mai-popup[data-animate="down"] {
	--mai-popup-transform-hidden: translateY(-50%);
	--mai-popup-transform-visible: translateY(0);
}

.mai-popup--visible {
	--mai-popup-transform: var(--mai-popup-transform-visible, scale(1));
	opacity: 1;
}

.mai-popup__placeholder {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: var(--mai-popup-max-width, 100%);
	max-height: calc(100vh - 64px);
	margin: var(--mai-popup-margin, 16px);
	overflow-x: hidden;
	overflow-y: auto;
	background: var(--mai-popup-background, white);
	border-radius: var(--mai-popup-border-radius, var(--border-radius, 3px));
	box-shadow: var(--mai-popup-box-shadow, 0 0 24px 8px rgba(0, 0, 0, 0.1));
	transform: var(--mai-popup-transform, var(--mai-popup-transform-hidden, scale(0.9)));
	transition: transform 0.4s ease;
	will-change: transform;
}

.mai-popup__placeholder > iframe:first-child:last-child,
.mai-popup__placeholder > img:first-child:last-child,
.mai-popup__placeholder > video:first-child:last-child {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	max-width: 95%;
	max-height: 95%;
	margin: auto;
}

.mai-popup__placeholder > iframe:first-child:last-child,
.mai-popup__placeholder > video:first-child:last-child {
	pointer-events: auto;
}

.mai-popup__placeholder > img:first-child:last-child,
.mai-popup__placeholder > video:first-child:last-child {
	width: auto;
	height: auto;
}

.mai-popup--iframe .mai-popup__placeholder,
.mai-popup--img .mai-popup__placeholder,
.mai-popup--video .mai-popup__placeholder {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.mai-popup__close,
.mai-popup__close:hover,
.mai-popup__close:focus {
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--mai-popup-close-size, 44px);
	height: var(--mai-popup-close-size, 44px);
	margin: 0;
	padding: var(--mai-popup-close-padding, 10px);
	color: var(--mai-popup-close-color, var(--color-heading, currentColor));
	background: var(--mai-popup-close-background, rgba(255, 255, 255, 0.5));
	border: 0;
	border-radius: 50%;
}

.mai-popup__close::before {
	display: block;
	width: 100%;
	height: 100%;
	background: currentColor;
	mask-image: var(--mai-popup-close-icon, url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!-- Font Awesome Pro 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"/></svg>'));
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	content: "";
}
